.scrollable-table {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
}

.modal-body div {
  display: block;
  clear: both;
}

.modal-body div label,
.modal-body div p {
  float: left;
  padding-right: 5px;
}

#initialrequest {
  border-radius: 10px;
  padding: 10px;
  background-color: #dee8f7;
}
